/* GLOBAL */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    padding: 7px 20px 7px 20px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    padding-left: 20%;
    padding-right: 20%;
}

footer {
    height: 300px;
    text-align: center;
    color: rgb(169, 200, 222);
    background-color: black;
}

/* Header elements */

.home_btn {
    width: 108px;
    border: 2px solid rgb(169, 200, 222);
    border-radius: 4px;
    padding-left: 8px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.home_btn_txt {
    font-size: 20pt;
    color: rgb(169, 200, 222);
    width: 45px;
    height: 26px;
    text-align: center;
    margin-left: 3px;
    margin-block-start: 8px;
    margin-block-end: 0;
}

.head_input {
    width: 40%;
    height: 34px;
    border-radius: 15px;
    margin-top: 5px;
}

.basket_btn {
    width: 40px;
    height: 40px;
    border: 2px solid rgb(169, 200, 222);
    border-radius: 4px;
    margin-top: 3px;
    margin-right: 35px;
    display: flex;
    justify-content: space-around;
}

.basket_icon {
    margin-top: 6px;
}

/* Home page */

.home_page {
    /* TODO Пофиксить высоту и ширину */
    /* width: 150%;
    height: 150%; */
    margin-top: 64px;
    background-color: rgb(169, 200, 222);
    display: flex;
    justify-content: space-between;
}

.itm_card {
    width: 240px;
    height: 240px;
    border: 2px solid rgb(255, 201, 134);
    border-radius: 4px;
    background-color: rgb(255, 228, 196);
    display: flex;
    flex-direction: row;
}